body {
  background-color: black;
  text-align: center;
}

h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

p {
  font-family: Verdana;
  font-size: 21px;
  color: gray;
}

h5 {
  text-align: right;
  color: gray;
}

.link {
  color: Aquamarine;
  font-size: 16px;
}
